:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #0a5c32;
  background-color: #fef4e2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #0a5c32;
    background-color: #fef4e2;
  }

  a:hover {
    color: #0f7742;
  }

  button {
    background-color: #ffffff;
  }
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
a {
  font-weight: 500;
  color: #0a5c32;
  text-decoration: inherit;
}
a:hover {
  color: #0f7742;
}
h1 {
  font-size: 5rem;
  line-height: 1.1;

  text-align: center;
  margin-bottom: 4rem;
}
h2 {
  margin-top: 5rem;
  color: #666;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #0a5c32;
}
button:hover {
  border-color: #0a5c32;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
#app {
  padding: 2rem;
}
.container {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 2rem;
  background-color: #fffaf0;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.card {
  padding: 2em;
}
.bg-image {
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}
.bg1 {
  top: 21%;
  left: 15%;
  width: 30px;
  height: 30px;
  background-image: url("/bg2.png");
  transform: rotate(12deg);
}
.bg2 {
  top: 30%;
  right: 10%;
  width: 20px;
  height: 20px;
  background-image: url("/bg2.png");
  transform: rotate(-8deg);
}
.bg3 {
  bottom: 2%;
  left: 2%;
  width: 20px;
  height: 20px;
  background-image: url("/bg3.png");
  transform: rotate(18deg);
}
.bg4 {
  top: 80%;
  right: 3%;
  width: 30px;
  height: 30px;
  background-image: url("/bg1.png");
  transform: rotate(25deg);
}
.bg5 {
  bottom: -30%;
  left: 99%;
  width: 25px;
  height: 25px;
  background-image: url("/bg2.png");
  transform: rotate(-15deg);
}
.bg6 {
  bottom: 10%;
  right: 20%;
  width: 35px;
  height: 35px;
  background-image: url("/bg3.png");
  transform: rotate(5deg);
}
.bg7 {
  bottom: -50%;
  left: -1%;
  width: 35px;
  height: 35px;
  background-image: url("/bg1.png");
  transform: rotate(-30deg);
}
.bg8 {
  bottom: 15%;
  left: 10%;
  width: 25px;
  height: 25px;
  background-image: url("/bg2.png");
  transform: rotate(40deg);
}
