:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #0a5c32;
  background-color: #fef4e2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #0a5c32;
  text-decoration: inherit;
}
a:hover {
  color: #0f7742;
}

body {
  margin: 0;
  /*display: flex;*/
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  /*max-width: 1280px;
  margin: 0 auto;*/
  padding: 2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #0a5c32;
}
button:hover {
  border-color: #0a5c32;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #0a5c32;
    background-color: #fef4e2;
  }
  a:hover {
    color: #0f7742;
  }
  button {
    background-color: #ffffff;
  }
}
