.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  border-bottom: 2px solid #0a5c32;
  background-color: #fef4e2;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
}

.navbar-left img {
  height: 50px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #0a5c32;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s;
}

.navbar-right a:hover {
  color: #0f7742;
}

.navbar-right button {
  margin-left: 1.5rem;
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-decoration: underline;
  font-size: 1rem;
}
