.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  border-bottom: 2px solid #0a5c32;
  background-color: #fef4e2;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
}
.navbar-left img {
  height: 90px;
}
.navbar-right {
  display: flex;
  align-items: center;
}
.navbar-right a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #0a5c32;
  font-weight: 500;
  font-size: 1.5rem;
  transition: color 0.2s;
}
.navbar-right a:hover {
  color: #4CAF50;
}
.navbar-right button {
  margin-left: 1.5rem;
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-decoration: underline;
  font-size: 1.5rem;
}
.navbar-right button {
  color: #4CAF50;
}
.nav-bg {
  position: absolute;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  opacity: 0.5;
}
.bg-nav1 {
  top: 2px;
  left: 10px;
  width: 25px;
  height: 25px;
  background-image: url('/bg1.png');
  transform: rotate(8deg);
}
.bg-nav2 {
  top: 5px;
  right: 50px;
  width: 30px;
  height: 30px;
  background-image: url('/bg2.png');
  transform: rotate(-6deg);
}
.bg-nav3 {
  top: 27%;
  right: 44%;
  width: 20px;
  height: 20px;
  background-image: url('/bg3.png');
  transform: rotate(14deg);
}